.itemCount{
    display: flex;
    flex-direction: column;
}

.itemCount > .controls {
    display: flex;
    justify-content: space-between;
    width: 200px;
    border: 1px solid rgb(21, 21, 21);
    border-radius: 3px;
    font-weight: bold;
    font-size: 22px;
    background-color: #F0F0F0;


}

.itemCount > .controls > button {
    width: 15px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    border: 0;
    cursor: pointer;

}
.itemCount > .button {
    width: 200px;
    margin-top: 10px;
    font-size: 18px;
    padding: 3px;
    cursor: pointer;
}